.viagem_maindiv
 {
     border: 1px solid lightgrey;
 } 
 
 .viagem_maindiv img 
{ 
      width: 100%;  
 } 

 .viagem_maindiv h5 , .viagem_maindiv p 
 {     
    margin: 20px; 
}
.filmesHead 
{ 
    font-size: 20px;
     padding: 6px 22px; 
     border-radius: 10px;
      margin-bottom: 15px;
     }
.filmesHead i 
{ 
      float: right;
     } 
     .filmesText span 
     { 
        color: orange;
     }
     .livros
     {  
         margin-bottom: 10px;
         }
          #contato iframe
          {   
            width: 100%;
         }   